# Токен бота
TOKEN=************:*******************************

# id телеграм канала
TG_CHANNEL_ID=-100************

# id администратора бота
ADMIN_ID=*********

# имя администратора бота
ADMIN_NAME=********

# путь к KMZ-файлу
KMZ_PATH=geo_data/***************.kmz

# postgres
POSTGRES_USER=********
POSTGRES_PASSWORD=********
POSTGRES_DB=************
POSTGRES_HOST=db
POSTGRES_PORT=5432

# elasticsearch
ELASTIC_URL=http://elasticsearch:9200
ELASTIC_USER=elastic
ELASTIC_PASSWORD=********

# grafana
GF_SECURITY_ADMIN_USER=********
GF_SECURITY_ADMIN_PASSWORD=********
