Здравствуйте, <strong>{{full_name}}</strong> 👋

Наш бот поможет вам узнать больше
о заброшенных и покинутых местах.

🔹 Кнопка «🏭 Покинутые места»
<i>Откроет список доступных локаций с подробными описаниями.</i>

🔹 Кнопка «📍 Геопозиция»
<i>Позволяет получить дополнительную информацию о ближайших к вам местах на основе вашей геопозиции.
Геопозицию можно отправить автоматически или выставить вручную.</i>

🔹 Кнопка «📚 Список ресурсов»
<i>Содержит полезные источники, материалы и ссылки,
связанные с исследованием заброшенных объектов и урбан-эксплорингом.</i>

🔹 Строка ввода сообщения
<i>При зажатой кнопке «🏭 Покинутые места»
используется для поиска мест по названию или описанию.</i>

Приятного исследования! 🗺️✨
